[defaults]
inventory = inventories/lab/hosts.yml
host_key_checking = False
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -o KexAlgorithms=+diffie-hellman-group1-sha1 -o HostKeyAlgorithms=+ssh-rsa -o MACs=+hmac-sha1
