[defaults]
inventory = inventories/lab/hosts.yml
host_key_checking = False
retry_files_enabled = False
timeout = 30
roles_path = roles

[ssh_connection]
ssh_args = -o KexAlgorithms=+diffie-hellman-group1-sha1 -o HostKeyAlgorithms=+ssh-rsa -o MACs=+hmac-sha1

[paramiko_connection]
host_key_auto_add = True

[persistent_connection]
command_timeout = 60
connect_timeout = 30
